<h1>投稿一覧</h1>

<% @lists.each do |list| %>
    <p>
        タイトル：
        <span><%= link_to list.title, list_path(list.id) %></span>
    </p>

    <p>
        画像：
        <% if list.image.attached? %>
            <%= image_tag list.image, size: "30x30" %>
        <% else %>
            <%= image_tag 'no_image', size: "30x30" %>
        <% end %>
    </p>
    <hr>
<% end %>
